# Configurações do Banco de Dados
DB_ROOT_PASSWORD=root
DB_NAME=sm_health
DB_USER=sm_user
DB_PASSWORD=sm_password

# Configurações da Aplicação
SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=8080

# Configurações de Log
LOG_LEVEL=INFO
